.cart-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #0f172a;
  border-radius: 12px;
  color: #fff;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #1e293b;
}

.cart-item img {
  width: 120px;
  border-radius: 10px;
}

.cart-item h3 {
  margin: 0;
  font-size: 1.2rem;
}

.cart-item button {
  background: #ef4444;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.cart-item button:hover {
  background: #dc2626;
}

/* Total */
.cart-total {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
}

/* Buttons row */
.cart-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn-empty {
  background: #475569;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: .2s;
}

.btn-empty:hover {
  background: #334155;
}

.btn-checkout {
  background: #3b82f6;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: .2s;
}

.btn-checkout:hover {
  background: #2563eb;
}
