.checkout-container {
  max-width: 600px;
  margin: 40px auto;
  background: #0f172a;
  padding: 25px;
  border-radius: 12px;
  color: #fff;
}

.checkout-total {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.checkout-form input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  background: #1e293b;
  color: white;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: .2s;
}

.checkout-btn:hover {
  background: #2563eb;
}
